.extend-input:focus {
    background-color: transparent;
    box-shadow: none;
    outline: none;
}


.extend-wrapper-focus {
    border-width: 2px !important;
    border-color: #b7e2ff !important;
}

.extend-wrapper {
    display: inline-block;
}

.extend-before-elements {
    margin-right: 10px;
    display: inline-block;
}

.extend-after-elements {
    display: inline-block;
}